.Video_thumbnail{
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 300px;
    margin: 10px 18px;
}
.thumbnail>img{
    height: 200px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 10px 10px 8px #888888;
    
}

.info{
    display: flex;
    padding: 10px;


}
.channel_pic> img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
.data{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: larger;
    font-weight: 600;
    color: rgb(198, 198, 198);
}
.channel_name{
    color: rgb(184, 182, 182);
}